* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #ffd15b;
  --black: #121212;
  --white: #f5f5f5;
}

#overlay-mobile {
  display: none;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: #ebebeb;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: var(--color);
  background: var(--background);
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #121212;
    --background: #f8f8f8;
    --text: "light";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #f8f8f8;
    --background: #121212;
    --text: "dark";
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 80px;
}

button {
  font-size: medium;
  padding: 15px 20px;
  background-color: var(--yellow);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.menu-hamburger {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
  cursor: pointer;
}

.menu-hamburger span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: var(--black);
  border-radius: 4px;
  margin-bottom: 4px;
}

.menu-hamburger span:nth-child(2) {
  width: 20px;
}

.menu-hamburger span:last-child {
  width: 27px;
  margin-bottom: 0;
}

main {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

main > svg {
  position: absolute;
  top: -530px;
  right: -90%;
  z-index: -1;
}

.content {
  position: relative;
}

.introduction {
  width: 300px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.introduction h1 {
  font-size: xx-large;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 15px;
}

.introduction p {
  font-size: medium;
  line-height: 1.3em;
  margin-bottom: 25px;
}

.items,
.ingredients {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
}

.items img,
.ingredients img {
  position: relative;
}

.items img {
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5%);
  }
}

/*---------items---------*/
.items img:first-child {
  width: 200px;
  top: -320px;
  left: -150px;
}

.items img:nth-child(2) {
  width: 350px;
  top: -430px;
  left: -100px;
}

.items img:nth-child(3) {
  width: 350px;
  top: -200px;
  left: -400px;
}

.items img:last-child {
  width: 380px;
  top: -200px;
  left: -100px;
}

/*---------ingredients---------*/
.ingredients img:first-child {
  width: 70px;
  top: 260px !important;
}

.ingredients img:nth-child(2) {
  width: 60px;
  top: -390px !important;
  left: -220px !important;
}

.ingredients img:nth-child(3) {
  width: 70px;
  top: 200px !important;
  left: 400px !important;
}

.ingredients img:nth-child(4) {
  width: 55px;
  top: 40px !important;
  left: 320px !important;
}

.ingredients img:nth-child(5) {
  width: 55px;
  top: 160px !important;
  left: -200px !important;
}

.ingredients img:nth-child(6) {
  width: 40px;
  top: -270px !important;
  left: 480px !important;
}

.ingredients img:last-child {
  width: 35px;
  top: -270px !important;
  left: 100px !important;
}

@media screen and (max-width: 1024px) {
  body {
    position: fixed;
  }

  #overlay-mobile {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    overflow: hidden;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  main {
    width: 100%;
  }

  .introduction {
    width: 100%;
  }

  .items {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .content {
    padding: 0 20px;
  }

  .items img:first-child {
    top: 4%;
    left: 62%;
  }

  .items img:nth-child(2) {
    top: 8%;
    left: -9%;
  }

  .items img:nth-child(3) {
    top: 48%;
    left: -4%;
  }

  .items img:last-child {
    top: 42%;
    left: 6%;
  }
}
